<%- include("partials/header") %>
<%- include("partials/navbar") %>

<h2>Seus Personagens</h2>

<a href="/personagens/novo">
  <button class="btn-seta">Criar Novo Personagem</button>
</a>

<hr>

<div class="lista-personagens">
  <% if (personagens.length === 0) { %>
    <p>Nenhum personagem criado ainda.</p>
  <% } %>

  <% personagens.forEach(function(p) { %>
    <div class="card-personagem">

      <% if (p.imagem) { %>
        <img src="/uploads/<%= p.imagem %>" class="img-personagem">
      <% } %>

      <div>
        <h3><%= p.nome %></h3>
        <p>Nível: <%= p.nivel %></p>

        <a href="/personagens/<%= p.id %>" class="login">Ver ficha</a>
      </div>

    </div>
  <% }) %>
</div>